
<div id="tiles" class="transitions-enabled">
    <% @tiles.each do |tile| %>
      <div class="box panel panel-default">
        <%= image_tag tile.image.url(:medium) %>
        <div class="panel-body">
          <%= tile.description %>
          <%= tile.user.email %>
          <%= link_to 'Show', tile %>
          <% if tile.user == current_user %>
            <%= link_to 'Edit', edit_tile_path(tile) %>
            <%= link_to 'Destroy', tile, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
