<p id="notice"><%= notice %></p>

<h1>Listing Tiles</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiles.each do |tile| %>
      <tr>
        <td><%= tile.description %></td>
        <td><%= tile.user.email %></td>
        <td><%= link_to 'Show', tile %></td>
        <% if tile.user == current_user %>
          <td><%= link_to 'Edit', edit_tile_path(tile) %></td>
          <td><%= link_to 'Destroy', tile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Tile', new_tile_path %>
<% end %>
