


<%= render 'pages/home' unless user_signed_in? %>

<div id="tiles" class="transitions-enabled">
  <% @tiles.each do |tile| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(tile.image.url(:medium)), tile %>
      <div class="panel-body">
        <p><%= tile.description %></p>
        <p><strong><%= tile.user.name if tile.user %></strong></p>

        <% if current_user && tile.user == current_user %>
          <div class="actions">
            <%= link_to edit_tile_path(tile) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to tile, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>

<center>
  <%= will_paginate @tiles, renderer: BootstrapPagination::Rails %>
</center>
