
<%= link_to 'Back', tiles_path, class:"btn btn-primary" %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @tile.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @tile.description %></p>
        <p><strong><%= @tile.user.email if @tile.user %></strong></p>

        <% if @tile.user == current_user %>
           <%= link_to edit_tile_path(@tile) do %>
             <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit 
           <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
